In [3]:
spark = SparkSession.builder \
      .master("local[1]") \
      .appName("yaswanth.kota") \
      .getOrCreate()

In [2]:
from pyspark.sql import SparkSession

In [4]:
data = spark.read.option("header",True).csv("Capstone market analysis (4).csv")

In [26]:
data.show()

+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
|age|         job| marital|education|default|balance|housing|loan|contact|day|month|duration|campaign|pdays|previous|poutcome|  y|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
| 58|  management| married| tertiary|     no|   2143|    yes|  no|unknown|  5|  may|     261|       1|   -1|       0| unknown| no|
| 44|  technician|  single|secondary|     no|     29|    yes|  no|unknown|  5|  may|     151|       1|   -1|       0| unknown| no|
| 33|entrepreneur| married|secondary|     no|      2|    yes| yes|unknown|  5|  may|      76|       1|   -1|       0| unknown| no|
| 47| blue-collar| married|  unknown|     no|   1506|    yes|  no|unknown|  5|  may|      92|       1|   -1|       0| unknown| no|
| 33|     unknown|  single|  unknown|     no|      1|     no|  no|unknown|  5|  may|     198|       1|   -1|       0| unknown| no|
| 35|  management| married| tertiary|     no|    231|    yes|  no|unknown|  5|  may|     139|       1|   -1|       0| unknown| no|
| 28|  management|  single| tertiary|     no|    447|    yes| yes|unknown|  5|  may|     217|       1|   -1|       0| unknown| no|
| 42|entrepreneur|divorced| tertiary|    yes|      2|    yes|  no|unknown|  5|  may|     380|       1|   -1|       0| unknown| no|
| 58|     retired| married|  primary|     no|    121|    yes|  no|unknown|  5|  may|      50|       1|   -1|       0| unknown| no|
| 43|  technician|  single|secondary|     no|    593|    yes|  no|unknown|  5|  may|      55|       1|   -1|       0| unknown| no|
| 41|      admin.|divorced|secondary|     no|    270|    yes|  no|unknown|  5|  may|     222|       1|   -1|       0| unknown| no|
| 29|      admin.|  single|secondary|     no|    390|    yes|  no|unknown|  5|  may|     137|       1|   -1|       0| unknown| no|
| 53|  technician| married|secondary|     no|      6|    yes|  no|unknown|  5|  may|     517|       1|   -1|       0| unknown| no|
| 58|  technician| married|  unknown|     no|     71|    yes|  no|unknown|  5|  may|      71|       1|   -1|       0| unknown| no|
| 57|    services| married|secondary|     no|    162|    yes|  no|unknown|  5|  may|     174|       1|   -1|       0| unknown| no|
| 51|     retired| married|  primary|     no|    229|    yes|  no|unknown|  5|  may|     353|       1|   -1|       0| unknown| no|
| 45|      admin.|  single|  unknown|     no|     13|    yes|  no|unknown|  5|  may|      98|       1|   -1|       0| unknown| no|
| 57| blue-collar| married|  primary|     no|     52|    yes|  no|unknown|  5|  may|      38|       1|   -1|       0| unknown| no|
| 60|     retired| married|  primary|     no|     60|    yes|  no|unknown|  5|  may|     219|       1|   -1|       0| unknown| no|
| 33|    services| married|secondary|     no|      0|    yes|  no|unknown|  5|  may|      54|       1|   -1|       0| unknown| no|
+---+------------+--------+---------+-------+-------+-------+----+-------+---+-----+--------+--------+-----+--------+--------+---+
only showing top 20 rows

In [27]:
data.createOrReplaceTempView("mytable")

In [28]:
successDF = spark.sql("SELECT count(*) AS successCount FROM mytable WHERE poutcome = 'success'")

In [29]:
failureDF = spark.sql("SELECT count(*) AS successCount FROM mytable WHERE poutcome = 'failure'")

In [30]:
successDF.show()

+------------+
|successCount|
+------------+
|        1511|
+------------+

In [31]:
numDF = spark.sql("SELECT count(*) AS totalCount FROM mytable")

In [32]:
numDF.show()

+----------+
|totalCount|
+----------+
|     45211|
+----------+

In [33]:
row1 = numDF.collect()[0]

In [34]:
value1 = row1["totalCount"]

In [35]:
rows = successDF.collect()
first_row = rows[0]

In [36]:
value = first_row["successCount"]

In [37]:
row2 = failureDF.collect()[0]

In [38]:
value2 = first_row = rows[0][0]

In [39]:
print(successCount)

NameError: name 'successCount' is not defined

In [40]:
totalCount = numDF.first()

In [41]:
print(totalCount)

Row(totalCount=45211)

In [42]:
MarketingSuccessRate = value/value1

In [43]:
print(MarketingSuccessRate)

0.0334210700935613

In [44]:
marketingFailureRate = value2/ value1

In [45]:
print(marketingFailureRate)

0.0334210700935613

In [46]:
from pyspark.sql.functions import avg, min, max


avg_age = data.select(avg("age")).collect()[0][0]
min_age = data.select(min("age")).collect()[0][0]
max_age = data.select(max("age")).collect()[0][0]


print("avg: ", avg_age)
print("min: ", min_age)
print("max: ", max_age)

avg:  40.93621021432837
min:  18
max:  95

In [47]:

 age  = spark.sql("select age , count(*) as number from mytable where y = 'yes' group by age order by number desc").show()

+---+------+
|age|number|
+---+------+
| 32|   221|
| 30|   217|
| 33|   210|
| 35|   209|
| 31|   206|
| 34|   198|
| 36|   195|
| 29|   171|
| 37|   170|
| 28|   162|
| 38|   144|
| 39|   143|
| 27|   141|
| 26|   134|
| 41|   120|
| 46|   118|
| 40|   116|
| 47|   113|
| 25|   113|
| 42|   111|
+---+------+
only showing top 20 rows

In [48]:
marital = spark.sql("select marital, count(*) as number from mytable where y='yes' group by marital order by number desc ").show()

+--------+------+
| marital|number|
+--------+------+
| married|  2755|
|  single|  1912|
|divorced|   622|
+--------+------+

In [49]:
marital = spark.sql("select marital, count(*) as number from mytable where y='yes' group by marital order by number desc ").show()

+--------+------+
| marital|number|
+--------+------+
| married|  2755|
|  single|  1912|
|divorced|   622|
+--------+------+

In [50]:
spark.sql("SELECT AVG(balance) AS average_balance FROM mytable").show()

+------------------+
|   average_balance|
+------------------+
|1362.2720576850766|
+------------------+